.container {
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(yellow, green, blue, alpha);
}


#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    border: 2px solid black;

}

#effacer {
    background-color: hotpink;
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 7px;
    border-radius: 10px;
    border: 2px solid black;

}


.buttons>div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    justify-items: center;
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    border-radius: 10px;
    background-color: green;
    color: white;
    /* justify-items: center display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
     */
}

#display {
    border-radius: 10px;
    background-color: bisque;
    border-color: blue;
    padding: 10px;
    margin-bottom: 10px;

}

#equal {
    background-color: rgb(217, 107, 11);
    color: white;

    /* grid-column: span 4; */
}

#clear {
    background-color: red;
}

/* #equal
button[data-key="13"] {
    grid-column: span 2;
    background-color: rgb(30, 195, 237);
    font-weight: bold;
    color: white;


} */



.button:hover {
    background-color: aqua;
    color: white;
    transition: 0.5s ease-in-out;

}

/* */